.Number-1{
    color:rosybrown;
    background-color: beige;
}
.Number-2{
    color:lightcoral;
    background-color:beige
}
.Number-3{
    color:teal;
    background-color: beige;
}
.Number-4{
    color:lightseagreen;
    background-color: beige;
}
.Number-5{
    color:cornflowerblue;
    background-color: beige;
}