.Number-1{
    color:lightblue;
    background-color: beige;
}
.Number-2{
    color:lightcoral;
    background-color:beige
}
.Number-3{
    color:lightgrey;
    background-color: beige;
}
.Number-4{
    color:lightseagreen;
    background-color: beige;
}
.Number-5{
    color:lavender;
    background-color: beige;
}